examples/Pushover Notification Cancel Receipt.json
[
  {
    "id": "0bd3b57c7898b869",
    "type": "tab",
    "label": "Pushover Notification Cancel Receipt",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "b778daa05755aeef",
    "type": "group",
    "z": "0bd3b57c7898b869",
    "name": "Pushover Notification with cancellation",
    "style": {
      "label": true
    },
    "nodes": [
      "1b837c1be34c3b3f",
      "55178cd7aa2cfaa6",
      "3d312005fa85b4ff",
      "f362f05787e7f521",
      "ecaba56d5825c7bb",
      "debff6dfd2156893",
      "93826515fe017636"
    ],
    "x": 34,
    "y": 39,
    "w": 1252,
    "h": 142
  },
  {
    "id": "debff6dfd2156893",
    "type": "ntc-node-red-pushover-receipt-cancel",
    "z": "0bd3b57c7898b869",
    "g": "b778daa05755aeef",
    "keys": "6a74091f37ccc200",
    "title": "",
    "name": "",
    "x": 1000,
    "y": 140,
    "wires": [
      [
        "93826515fe017636"
      ]
    ]
  },
  {
    "id": "93826515fe017636",
    "type": "debug",
    "z": "0bd3b57c7898b869",
    "g": "b778daa05755aeef",
    "name": "debug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1190,
    "y": 140,
    "wires": []
  },
  {
    "id": "f362f05787e7f521",
    "type": "delay",
    "z": "0bd3b57c7898b869",
    "g": "b778daa05755aeef",
    "name": "",
    "pauseType": "delay",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 580,
    "y": 140,
    "wires": [
      [
        "ecaba56d5825c7bb"
      ]
    ]
  },
  {
    "id": "ecaba56d5825c7bb",
    "type": "change",
    "z": "0bd3b57c7898b869",
    "g": "b778daa05755aeef",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.receipt",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 780,
    "y": 140,
    "wires": [
      [
        "debff6dfd2156893"
      ]
    ]
  },
  {
    "id": "1b837c1be34c3b3f",
    "type": "inject",
    "z": "0bd3b57c7898b869",
    "g": "b778daa05755aeef",
    "name": "Inject Message",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "priority",
        "v": "2",
        "vt": "num"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "This is a urgent test message",
    "payloadType": "str",
    "x": 160,
    "y": 80,
    "wires": [
      [
        "55178cd7aa2cfaa6"
      ]
    ]
  },
  {
    "id": "55178cd7aa2cfaa6",
    "type": "ntc-node-red-pushover-notifications",
    "z": "0bd3b57c7898b869",
    "g": "b778daa05755aeef",
    "keys": "6a74091f37ccc200",
    "title": "Notification from Node-RED",
    "name": "Test Notification",
    "x": 380,
    "y": 80,
    "wires": [
      [
        "3d312005fa85b4ff",
        "f362f05787e7f521"
      ]
    ]
  },
  {
    "id": "3d312005fa85b4ff",
    "type": "debug",
    "z": "0bd3b57c7898b869",
    "g": "b778daa05755aeef",
    "name": "debug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 570,
    "y": 80,
    "wires": []
  },
  {
    "id": "6a74091f37ccc200",
    "type": "ntc-node-red-pushover-keys",
    "name": ""
  }
]
